<h1>ジャンル一覧・追加</h1>

<%= form_with model: [:admin,@genre] do |f| %>
<table>
  <tbody>
    <tr>
      <td>ジャンル名</td>
      <td><%= f.text_field :name %></td>
      <td><%= f.submit "新規登録" %></td>
    </tr>
  </tbody>
</table>
<%end%>


<table>
  <thead>
    <tr>
      <th>ジャンル</th>
      <th></th>
    </tr>
  </thead>
  <% @genres.each do |genre| %>
  <tbody>
    <tr>
      <td><%= genre.name%></td>
      <td><%= link_to "編集する", edit_admin_genre_path(genre.id) %></td>
    </tr>
  </tbody>
  <%end%>
</table>
